.HealthyRecipesPage{
  
  text-align: center;
  .hero-section {
    background-color: white;
  
  
  .hero-card {
    
    border-radius: 30px;
    .hero-card-img {
      width: 100%;
      opacity: 75%;
      border-radius: 30px;
    }
    .hero-card-ImgOverlay{
      .hero-card-title{
       
        font-weight: 600;
        
        
        max-width: 802px;
        
      }
    }
    
  }
}
.content-section{
  background: #f0e9e9;
  .content-section-description {
    border-radius: 30px;
    padding:40px 0;
    margin: 20px auto;
    font-weight: 400;
    font-size: 24px;
   
  
  }
}

.search-section {
  .search-title {
    font-size: 20px;
  }
}
}
