.navbar-list {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  .navbar-list-item {
    color: black;
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: white;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}
